[data-resize-to-fit] {
  display: grid;

  --input-padding-block: 4px;
  --input-padding-inline: 4px;
  --input-border-radius: 2px;
  --input-border-width: 1px;

  & > textarea {
    grid-area: 1 / 1 / 2 / 2;
    white-space: pre-wrap;
    overflow: hidden;
    padding: var(--input-padding-block) var(--input-padding-inline);
    border-width: var(--input-border-width);
    resize: none;
    overflow-y: auto;
  }

  &::after {
    white-space: pre-wrap;
    grid-area: 1 / 1 / 2 / 2;
    content: attr(data-resize-to-fit) " ";
    visibility: hidden;
    padding: var(--input-padding-block) var(--input-padding-inline);
    border-width: var(--input-border-width);
    border-style: solid;
    border-color: transparent;
  }
}
