.c-button--hits-parent {
  border-top: 1px solid #ccc;
}
.c-button--hits {
  padding-inline: 8px;
  text-decoration: none;
  cursor: grab;
}
.c-button--hits:active {
  border-top: none;
  cursor: grabbing;
  transform: scale(0.98) translate(0px, 2px);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 7px 0px, rgba(0, 0, 0, 0.11) 0px 1px 2px 0px;
}

.c-list__item--article {
  display: grid;
}

.c-list__item--article:has(+ .c-list__item--article .c-button--hits:active) {
  border-bottom: 1px solid #ccc;
}

.c-list__item--article:first-child {
  .c-button--hits-parent {
    border-top: none;
  }
}

.c-button--hits:is(:focus-visible, :hover) {
  color: #000;
  background-color: #eee;
}
.c-button--hits-parent {
  padding-block: 8px 4px;
}
.c-button--hits-child {
  padding-block: 4px;
}
.c-button--hits[data-visited="true"] {
  color: #000;
  background-color: #eee;
}

.hits-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.hits-item__text {
  font-size: 14px;
  line-height: 16px;
}

.hits-item__title--parent {
  font-weight: 700;
}
.hits-item__meta-field {
  color: #666;
}
.hits-item__tag {
  font-size: 12px;
  height: 18px;
  margin-block: 1px;
  padding-inline: 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  max-width: 32ch;

  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
