.c-card-article {
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  gap: 8px;
  padding: 16px;
}

.c-card-body {
  margin-block: 8px;
}

.c-card-body__visible {
  white-space: pre-line;
}

.c-child-accordion__container[data-has-details="true"]:not([data-open]) .c-child-title::after,
.c-card-body__visible[data-overflow="true"]::after {
}

.c-action-bar {
  margin-block-start: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.c-action-bar--indented {
  padding-left: 24px;
}

.c-accordion-inline-button {
  color: #666;
  text-decoration: underline;

  &:hover {
    color: #000;
  }
}

.c-action-bar__button {
  color: #666;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 16px;
  padding: 2px 6px;

  &:hover {
    background: black;
    color: white;
    border-color: black;
  }
}

.c-child-accordion__container:not([data-open]) .c-child-accordion__expanded-only {
  display: none;
}
.c-child-accordion__container[data-open] .c-child-accordion__collapsed-only {
  display: none;
}

.c-card-byline {
  color: #666;
  font-size: 14px;
}
.c-card-full-report-link {
  color: inherit;
  text-decoration: underline;
}
.c-card-meta-link {
  color: inherit;
  text-decoration: underline;
}

.c-card-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.c-child-accordion__title {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.c-child-accordion__title svg {
  flex: 0 0 auto;
}

.c-child-details {
  padding-left: 24px;
  margin-block: 0px 8px;
}

.c-child-entity-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.c-child-title {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.c-tag-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 2px;
}

.c-tag {
  color: inherit;
  background-color: #eee;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 4px;
}
