:root {
  font-family: monospace;
}

* {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --theme-rice: #dfd4c7;
  --theme-coal: #2e2b2b;
}

body {
  color: var(--theme-coal);
  background-color: var(--theme-rice);
}

html,
body {
  height: 100%;
}

.c-app {
  width: 100%;
  height: 100%;
}

.c-app-layout {
  display: grid;
  grid-template:
    "header header" auto
    "main aside" 1fr/1fr auto;
}
.c-app-layout__header {
  grid-area: header;
}
.c-app-layout__main {
  grid-area: main;
}
.c-app-layout__aside {
  grid-area: aside;
}
