:root {
  font-family: monospace;
}

* {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --theme-rice: #dfd4c7;
  --theme-coal: #2e2b2b;

  --input-padding-block: 4px;
  --input-padding-inline: 8px;
  --input-border-radius: 4px;
  --input-border-width: 1px;
}

body {
  color: var(--theme-coal);
  background-color: var(--theme-rice);
  padding: 16px;
  font-size: 18px;
  overflow-y: scroll;
}

main {
  max-width: 800px;
  margin-inline: auto;
  display: grid;
  gap: 16px;
}

button,
input,
textarea {
  border: var(--input-border-width) solid var(--theme-coal);
  padding: var(--input-padding-block, 4px) var(--input-padding-inline, 8xp);
  border-radius: var(--input-border-radius, 4px);
}
button:disabled {
  user-select: none;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.25);
  background: transparent;
}

button:active {
  transform: translate3d(1px, 1px, 0);
}

textarea {
  resize: none;
}
