:root {
  font-family: monospace;
}

* {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --theme-rice: #dfd4c7;
  --theme-coal: #2e2b2b;
}

body {
  color: var(--theme-coal);
  background-color: var(--theme-rice);
  padding: 16px;
  font-size: 18px;
}

main {
  max-width: 800px;
  margin-inline: auto;
  display: grid;
  gap: 16px;
}

button,
input,
textarea {
  border: 1px solid var(--theme-coal);
  padding: 4px 8px;
  border-radius: 4px;
}
button:disabled {
  user-select: none;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.25);
  background: transparent;
}

button:active {
  transform: translate3d(1px, 1px, 0);
}

textarea {
  resize: none;
}
