@layer variables, reset, utils, components;

@import url("./styles/variables.css") layer(variables);
@import url("./styles/reset.css") layer(reset);
@import url("./styles/utils.css") layer(utils);
@import url("./styles/components.css") layer(components);
@import url("./styles/progress-bar.css");
@import url("./styles/body.css");

.c-scroll-area {
  height: 100%;
  overflow-y: auto;
}

.c-top-divider {
  border-top: 2px solid black;
}

.c-card-scroll-action-container {
  display: flex;
  flex-direction: column;
}
