@import url("./styles/variables.css");
@import url("./styles/reset.css");
@import url("./styles/utils.css");
@import url("./styles/components.css");
@import url("./styles/progress-bar.css");

body {
  height: 100vh;
  font-size: 16px;
  border: 2px solid black;
}

#app {
  height: 100%;
}

article {
  height: 100%;
  overflow-y: auto;
}

ul {
  list-style: initial;
  padding-left: 2rem;
}
.c-card-article {
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  gap: 8px;
  padding: 16px;
}

.c-card-body {
  margin-block: 8px;
}

.c-card-body__visible {
  white-space: pre-line;
}

.c-child-accordion__container[data-has-details="true"]:not([open]) .c-child-title::after,
.c-card-body__visible[data-overflow="true"]::after {
  content: "...";
  font-weight: inherit;
  display: inline-flex;
  background-color: #eee;
  padding: 0px 8px 4px 8px;
  height: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 0px;
  vertical-align: middle;
  margin-left: 4px;
}

.c-card-byline {
  color: #666;
  font-size: 14px;
}
.c-card-full-report-link {
  color: inherit;
  text-decoration: underline;
}
.c-card-meta-link {
  color: inherit;
  text-decoration: underline;
}

.c-card-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.c-child-accordion__title {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.c-child-accordion__title svg {
  flex: 0 0 auto;
}

.c-child-details {
  padding-left: 24px;
  margin-block: 8px;
}

.c-child-entity-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.c-child-title {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.c-tag-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 2px;
}

.c-tag {
  color: inherit;
  background-color: #eee;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 4px;
}
