@import url("./styles/variables.css");
@import url("./styles/reset.css");
@import url("./styles/utils.css");
@import url("./styles/components.css");
@import url("./styles/progress-bar.css");
@import url("./styles/body.css");

.c-scroll-area {
  height: 100%;
  overflow-y: auto;
}

.c-top-divider {
  border-top: 2px solid black;
}
