@import url("./styles/variables.css");
@import url("./styles/reset.css");
@import url("./styles/utils.css");
@import url("./styles/components.css");
@import url("./styles/progress-bar.css");
@import url("./styles/body.css");

.c-shelf {
  max-height: 40vh;
  overflow-y: auto;
}

fieldset {
  display: grid;
}

.c-output {
  max-width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: auto;
}
