@layer variables, theme, reset, utils, elements, components;

@import url("./styles/variables.css") layer(variables);
@import url("./styles/reset.css") layer(reset);
@import url("./styles/utils.css") layer(utils);
@import url("./styles/components/button.css") layer(components);
@import url("./styles/components/resize-to-fit.css") layer(components);

.c-app-layout {
  height: 100vh;
}

@layer components {
  .c-nav-header {
    background-color: white;
    padding: 4px 8px 4px 8px;
    display: grid;

    a {
      color: inherit;
    }
  }

  .c-module-stack {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100%;

    & > * {
      flex: 0 0 auto;
    }
  }

  .c-module-stack__scroll {
    flex: 1 1 auto;
    min-height: 0;
  }

  .u-uppercase {
    text-transform: uppercase;
    font-weight: bold;
  }

  b {
    font-weight: 600;
  }

  .c-list {
    align-content: start;
    display: grid;
    gap: var(--list-gap, 4px);
  }

  .c-scan-results {
    background-color: white;
    padding: 4px 8px;
  }
}
