@layer variables, theme, reset, utils, elements, components;

@import url("./styles/variables.css") layer(variables);
@import url("./styles/reset.css") layer(reset);
@import url("./styles/utils.css") layer(utils);
@import url("./styles/components/button.css") layer(components);
@import url("./styles/components/body.css") layer(components);
@import url("./styles/components/resize-to-fit.css") layer(components);

@layer components {
  fieldset {
    padding: 4px 8px 8px 8px;
    margin: 0;
    display: grid;
    border: none;
    background: white;
  }

  .c-nav-header {
    background-color: white;
    padding: 4px 8px 4px 8px;
    display: grid;

    a {
      color: inherit;
    }
  }

  .c-module-stack {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100%;

    & > * {
      flex: 0 0 auto;
    }
  }

  .c-module-stack__section {
    background-color: white;
    padding: 8px;
    display: grid;
    gap: 4px;
  }

  .c-module-stack__no-padding {
    padding: 0;
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
  }

  button {
    padding: 2px 4px;
  }

  textarea {
    resize: vertical;
    padding: 2px 4px;
  }
}
