# The Client Secret can be copied from the auth server app service configurations
# e.g.: https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/8a67d8a9-63e8-47dc-84d5-6e8619fa1b9f/resourceGroups/HITS-2.0-Prototype/overview
# If not available, generate a new one from the AAD client app
# Search API keys: https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/8a67d8a9-63e8-47dc-84d5-6e8619fa1b9f/resourceGroups/HITS-TEST-UAT/providers/Microsoft.Search/searchServices/hits-stage/Keys
# Open AI API keys: https://ms.portal.azure.com/#view/Microsoft_Azure_ProjectOxford/CognitiveServicesHub/~/OpenAI

AAD_CLIENT_ID=f54c2802-ed38-483c-bbdd-0dd3bdacb7ad
AAD_CLIENT_SECRET=<Replace with AAD client secret>
AAD_TENANT_ID=72f988bf-86f1-41af-91ab-2d7cd011db47
OAUTH_SCOPES=https://microsoft.onmicrosoft.com/HITS_External_API/Search openid email offline_access
WEB_HOST=http://localhost:5200

# HITS
HITS_UAT_SEARCH_API_KEY=<Replace with Search API Key>
HITS_UAT_SEARCH_ENDPOINT=https://hits-stage.search.windows.net

# PLEXCHAT
HITS_OPENAI_DEV_API_KEY=Replace
HITS_OPENAI_DEV_ENDPOINT=https://hits-openai-east-us.openai.azure.com
HITS_OPENAI_PROD_API_KEY=Replace
HITS_OPENAI_PROD_ENDPOINT=https://hits-ai.openai.azure.com