# The Client Secret can be copied from the auth server app service configurations
# e.g.: https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/8a67d8a9-63e8-47dc-84d5-6e8619fa1b9f/resourceGroups/HITS-2.0-Prototype/overview
# If not available, generate a new one from the AAD client app
AAD_CLIENT_SECRET=<Replace with AAD client secret>
OPENAI_API_KEY=<Repalce with OpenAI API Key>
OPENAI_COMPLETION_ENDPOINT=https://hits-openai.openai.azure.com/openai/deployments/hits-text-davinci/completions?api-version=2022-12-01
OPENAI_CHAT_ENDPOINT=https://hits-openai.openai.azure.com/openai/deployments/gpt-35-turbo/chat/completions?api-version=2023-03-15-preview
WEB_HOST=http://localhost:5200