details {
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
}

summary {
  text-overflow: ellipsis;
  font-weight: 600;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.log__prompt {
  opacity: 0.625;
}
.log__completion {
  background-color: lightgreen;
}
