:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 8px;
}

label:has(+ :where(textarea, input[type="text"], input[type="password"])) {
  display: block;
  padding-bottom: 4px;
}

fieldset {
  background-color: #333;
}

textarea {
  width: 100%;
  field-sizing: content;
  resize: none;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

input {
  width: 100%;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

:where(textarea, input) {
  &:focus {
    background-color: #222;
  }
}

button {
  padding: 8px;
  width: 100%;
  font-size: inherit;
  cursor: pointer;
}

summary {
  text-transform: uppercase;
  opacity: 0.625;
  cursor: pointer;

  &:where(:hover, :focus-visible) {
    opacity: 1;
  }
}

legend {
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.fieldset-list {
  display: grid;
  gap: 8px;
}

.inline-suggestion {
  display: inline;
  background: none;
  border: none;
  width: auto;
  padding: 0;
  text-decoration: underline;
}

.usage-list {
  display: grid;
  line-height: 1.25;
  gap: 8px;
}
