:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: Inter;
}

input:where([type="text"], [type="password"], [type="search"]),
textarea {
  padding: 2px 4px;
}

button {
  padding: 2px 4px;
}

fieldset {
  padding: 4px;
}

summary {
  user-select: none;
  cursor: pointer;
}
