.c-app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.c-app-layout--headless {
  grid-template-rows: 1fr;
}

.c-app-layout__main {
  min-height: 0;
}

.c-app-header {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template:
    "input button" auto
    "menu menu" auto / 1fr auto;
}

.c-app-header__input {
  grid-area: input;
}
.c-app-header__trigger {
  grid-area: button;
}
.c-app-header__menu {
  grid-area: menu;
}

.c-app-menu {
  display: grid;
  background: white;
  border-bottom: 2px solid black;
}
.c-app-menu--btn {
  height: 40px;
  padding-inline: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
}
.c-app-menu--btn:where(:hover, :focus-visible):not(:active) {
  background-color: black;
  color: white;
}

.c-app-menu--text {
  height: 40px;
  padding-inline: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
}

.c-component {
  color: black;
}

.c-jumbo-button {
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 16px;
}

.c-back-button {
  color: black;
  background: white;
  width: 100%;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  &:where(:hover, :focus-visible) {
    color: white;
    background-color: black;
  }
}

.c-jumbo-button__progress {
  display: inline-block;
  font-variant-numeric: tabular-nums;
  width: 7ch;
}

.c-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.c-list__placeholder {
  min-height: 65px;
}

.c-menu-trigger-button {
  padding: 4px 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;

  &:where(:hover, :focus-visible) {
    background-color: black;
    color: white;
  }
}

.c-search-input {
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-bottom: 2px solid black;
}

.c-welcome-action-group {
  display: grid;
  gap: 8px;
}

.c-welcome-hint {
  text-align: center;
}

.c-welcome-mat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  gap: 16px;
}

.c-welcome-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
