.u-fs-16 {
  font-size: 16px;
}

.u-scroll {
  overflow: auto;
}

.u-reset:where(a) {
  color: inherit;
}

.u-reset:where(button) {
  text-align: unset;
  border: none;
  background: none;
}

.u-reset:where(summary) {
  list-style: none;
}
.u-reset:where(summary)::marker,
.u-reset:where(summary)::-webkit-details-marker {
  display: none; /* remove triangle from Safair */
}

[data-highlight="true"] {
  color: marktext;
  background-color: mark;
}
