.c-editor {
  border: 1px solid var(--theme-coal);
  display: grid;
  gap: 1px;
}

.c-editor__node {
  background-color: var(--theme-rice);
  padding: 4px 8px;
  min-height: 23px;
}

.c-editor__node--response {
  background-color: var(--theme-coal);
  color: var(--theme-rice);
}
