:root {
  --system-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --input-padding-block: 4px;
  --input-padding-inline: 8px;
  --input-border-width: 1px;
  --input-border-radius: 0px;
  --input-border-color: #333;
  --input-font-family: inherit;
  --input-font-size: inherit;
}

body {
  overflow-y: scroll;
  font-size: 14px;
}

menu {
  margin: 0;
  padding: 0;
}

button {
  padding: var(--input-padding-block) var(--input-padding-inline);
  font-size: var(--input-font-size);
  font-family: var(--input-font-family);
}

fieldset {
  min-width: 0;
  display: grid;
  gap: 4px;
}

fieldset > *:not(legend) {
  margin-inline-start: 2px;
}

summary {
  cursor: pointer;
}

dl {
  font-size: 14px;
}
dt {
  font-weight: 600;
}
dt + dd {
  margin-block-start: 4px;
}
dd + dt {
  margin-block-start: 8px;
}
dd {
  margin-inline-start: 20px;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 20px;
}

.tool-list {
  padding: 0;
  list-style: none;
}

.context-list {
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.context-list li[data-selected="false"] {
  opacity: 0.5;
}

.context-list-v2 {
  padding: 0;
  list-style: none;
  font-size: 14px;
  white-space: pre-wrap;
}

.node-creation-form {
  display: grid;
}

[data-resize-textarea-content] {
  display: grid;
}
[data-resize-textarea-content] textarea {
  grid-area: 1 / 1 / 2 / 2;
  white-space: pre-wrap;
  overflow: hidden;
  resize: none;
  padding: var(--input-padding-block) var(--input-padding-inline);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
[data-resize-textarea-content]::after {
  white-space: pre-wrap;
  grid-area: 1 / 1 / 2 / 2;
  content: attr(data-resize-textarea-content) " ";
  visibility: hidden;
  padding: var(--input-padding-block) var(--input-padding-inline);
  border: var(--input-border-width) solid transparent;
  border-radius: var(--input-border-radius);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
