body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
}

menu {
  margin: 0;
  padding: 0;
}

fieldset {
  min-width: 0;
  display: grid;
  gap: 4px;
}

fieldset > *:not(legend) {
  margin-inline-start: 2px;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 20px;
}

.tool-list {
  padding: 0;
  list-style: none;
}

.context-list {
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.context-list li[data-selected="false"] {
  opacity: 0.5;
}

.context-list-v2 {
  padding: 0;
  list-style: none;
  font-size: 14px;
  white-space: pre-wrap;
}

.navigator {
  display: grid;
  gap: 8px;
}

.navigator-menu {
  display: grid;
  grid-template:
    "empty1 empty1 top-menu empty2 empty2" auto
    "empty3 empty3 top-link empty4 empty4" auto
    "left-menu left-link center-menu right-link right-menu" auto
    "empty5 empty5 bottom-link empty6 empty6" auto
    "empty7 empty7 bottom-menu empty8 empty8" auto / auto auto auto auto auto;
  justify-content: start;
}

.navigator-menu .top-menu {
  grid-area: top-menu;
}
.navigator-menu .top-link {
  grid-area: top-link;
}
.navigator-menu .left-menu {
  grid-area: left-menu;
}
.navigator-menu .left-link {
  grid-area: left-link;
}
.navigator-menu .center-menu {
  grid-area: center-menu;
}
.navigator-menu .right-link {
  grid-area: right-link;
}
.navigator-menu .right-menu {
  grid-area: right-menu;
}
.navigator-menu .bottom-link {
  grid-area: bottom-link;
}
.navigator-menu .bottom-menu {
  grid-area: bottom-menu;
}
.navigator-menu menu {
  display: grid;
  align-content: center;
}
.navigator-menu :where(.left-link, .right-link, .top-link, .bottom-link) {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-inline: 4px;
}
