.c-app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.c-app-layout--headless {
  grid-template-rows: 1fr;
}

.c-app-layout__main {
  min-height: 0;
}

.c-app-header {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template:
    "input button" auto
    "menu menu" auto / 1fr auto;
}

.c-app-header__input {
  grid-area: input;
}
.c-app-header__trigger {
  grid-area: button;
}
.c-app-header__menu {
  grid-area: menu;
}

.c-app-menu {
  display: grid;
  background: white;
  border-bottom: 2px solid black;
}
.c-app-menu--btn {
  height: 40px;
  padding-inline: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
}
.c-app-menu--btn:where(:hover, :focus-visible):not(:active) {
  background-color: black;
  color: white;
}

.c-app-menu--text {
  height: 40px;
  padding-inline: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
}
