.c-jumbo-button {
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 16px;
}

.c-back-button {
  color: black;
  background: white;
  width: 100%;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  &:where(:hover, :focus-visible) {
    color: white;
    background-color: black;
  }
}

.c-jumbo-button__progress {
  display: inline-block;
  font-variant-numeric: tabular-nums;
  width: 7ch;
}

.c-menu-trigger-button {
  padding: 4px 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;

  &:where(:hover, :focus-visible) {
    background-color: black;
    color: white;
  }
}
