@import url("./styles/variables.css");
@import url("./styles/reset.css");
@import url("./styles/utils.css");
@import url("./styles/components.css");
@import url("./styles/progress-bar.css");

body {
  height: 100vh;
  font-size: 16px;
  border: 2px solid black;
}

#app {
  height: 100%;
}
