.c-notebook {
  display: grid;
  gap: 4px;
  resize: none;
}
.c-notebook__iteration {
  display: grid;
  gap: 4px;
}
.c-notebook__work-item-list {
  display: grid;
  gap: 4px;
}
.c-notebook__work-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
}
.c-notebook__work-item-input {
  display: flex;
  padding: 4px 8px;
  align-items: baseline;
  text-align: start;
}

.c-notebook__work-item-input--view {
  border: none;
  background: white;
}
.c-notebook__work-item-input--edit {
}
