:root {
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--system-font);
}

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
}
