.c-notebook {
  display: grid;
}

.cell-list {
  display: grid;
  gap: 4px;
}

.cell {
  display: grid;
}

.output-item {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.output-item--expanded {
  display: block;
  white-space: pre-wrap;
}

.step-io__title {
  font-weight: bold;
}
.step-io__body {
  display: grid;
}
.source-code {
  background: #333;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  font-family: monospace;
  white-space: pre-wrap;
}

[data-resize-textarea-content] {
  display: grid;
}
[data-resize-textarea-content] textarea {
  grid-area: 1 / 1 / 2 / 2;
  white-space: pre-wrap;
  overflow: hidden;
}
[data-resize-textarea-content]::after {
  white-space: pre-wrap;
  grid-area: 1 / 1 / 2 / 2;
  content: attr(data-resize-textarea-content) " ";
  visibility: hidden;
  padding: var(--input-padding-block) var(--input-padding-inline);
  border: var(--input-border-width) solid transparent;
  border-radius: var(--input-boarder-radius);
}
