.draft-output-list {
  margin: 0;
  /* padding: 0; */
  /* list-style: none; */
  /* list-style-position: inside; */
  padding: 0;
  padding-inline: 8px;
  list-style-type: "•";
}
.draft-output-list li {
  padding-left: 8px;
}
.draft-output-list li::marker {
  font-weight: bold;
}
.draft-output-list time {
  white-space: nowrap;
}
.draft-output-item__error {
  color: red;
}

ul:empty {
  display: none;
}

.draft-preview {
  font-weight: 600;
}
.draft-error {
  color: red;
}

.md-preview {
  padding-block: 8px;
  white-space: normal;
  display: grid;
  gap: 4px;
}

.md-preview * + h1 {
  margin-block-start: 8px;
}
.md-preview * + h2 {
  margin-block-start: 8px;
}

.md-preview h1 {
  font-size: 16px;
}

.md-preview h1,
.md-preview h2,
.md-preview h3 {
  font-weight: 600;
}

.md-preview strong {
  font-weight: 600;
}

.md-preview * {
  margin: 0;
  padding: 0;
  /* white-space: normal; */
}
.md-preview ul {
  padding-left: 20px;
}

.md-preview em {
  opacity: 0.7;
}
