.c-status-bar {
  color: white;
  background-color: black;
  border-top: 2px solid black;
  white-space: pre-wrap;
  display: block;
  font-size: 14px;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
}

.c-status-bar.expanded {
  overflow: auto;
  height: auto;
  max-height: 80vh;
}

.c-status-bar__line {
  padding-inline: 8px;
}
